* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Responsive*/
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/*Test*/
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

/* Animation*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes growthfadeIn {
  from {
    -webkit-transform: scale(----growth-from);
            transform: scale(----growth-from);
  }
  to {
    -webkit-transform: scale(----growth-to);
            transform: scale(----growth-to);
  }
}

@keyframes growthfadeIn {
  from {
    -webkit-transform: scale(----growth-from);
            transform: scale(----growth-from);
  }
  to {
    -webkit-transform: scale(----growth-to);
            transform: scale(----growth-to);
  }
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn linear 0.1s;
          animation: fadeIn linear 0.1s;
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  -webkit-animation: growth linear 0.1s;
          animation: growth linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/*button style*/
.btn, .btn-size-s, .btn--disabled, .btn--primary {
  background-color: #fff;
  min-width: 142px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: #333;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 16px;
}

.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-size-s {
  height: 32px;
  font-size: 12px;
  padding: 0 8px;
}

.btn--disabled {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}

.btn--primary {
  color: #fff;
  background-color: #ee4d2d;
}

/*Selection*/
.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 16px;
  left: 0;
  display: block;
  top: 34px;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 14px;
}

.select-input__icon {
  font-size: 14px;
  color: #838383;
  position: relative;
  top: 1px;
  margin-left: auto;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 23px;
  border-radius: 2px;
  background-color: #fff;
  padding: 8px 16px;
  list-style: none;
  display: none;
  z-index: 1;
}

.select-input__link {
  font-size: 14px;
  color: #333;
  border-radius: 2px;
  background-color: #fff;
  display: block;
  text-decoration: none;
  padding: 4px 0;
  z-index: 1;
}

.select-input__link:hover {
  color: #ee4d2d;
}

/*pagination*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.pagination-item {
  margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
  color: #fff;
  background-color: #ee4d2d;
}

.pagination-item--active:hover {
  background-color: #ed5c3f;
}

.pagination-item__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #939399;
  min-width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}

.app .header {
  width: 100%;
  height: 56px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.app .header .header__logo {
  width: 110px;
}

.app .header .header__logo .header__logo-link {
  color: transparent;
  text-decoration: none;
}

.app .header .header__logo .header__logo-link .header__logo-img {
  width: 100px;
  margin: 10px 0 18px 18px;
}

.app .header .header__breadcrumb {
  display: block;
  text-decoration: none;
  margin-left: 12px;
}

.app .header .header__breadcrumb .header__breadcrumb-link {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  margin-top: 21px;
}

.app .app__container .app_container-navbar {
  position: fixed;
  width: 220px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.app .app__container .app_container-navbar .navbar-menu {
  padding: 0;
}

.app .app__container .app_container-navbar .navbar-menu__list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item {
  width: 100%;
  max-height: 126px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 20px;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-menu__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-menu__item-heading .navbar-menu__item-link {
  padding: 5px 0;
  margin: 0 0 0px 12px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-menu__item-heading .navbar-menu__item-link .navbar-menu__item-icon {
  width: 16px;
  margin: -45px 5px -1px 5px;
  -o-object-fit: contain;
     object-fit: contain;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-menu__item-heading .navbar-submenu-icon {
  font-size: 14px;
  color: #999;
  cursor: pointer;
  margin: 5px 16px 0px 6px;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-menu__item-heading .navbar-submenu-icon:hover {
  color: #ee4d2d;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-submenu {
  list-style: none;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-submenu__item {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
  cursor: pointer;
}

.app .app__container .app_container-navbar .navbar-menu__list .navbar-menu__item .navbar-submenu__item:hover {
  color: #ee4d2d;
}
/*# sourceMappingURL=breadsrumb.css.map */